.container {
  text-align: center;
  margin: 0 auto;
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 !important;
  padding: 0 20px;
}

.product-card {
  width: 260px !important; /* Ensures each product is 250px wide */
  text-align: center;
}

.product-img {
  width: 100%;
  height: 350px !important;
  object-fit: cover;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

/* Responsive layout */
@media (max-width: 1200px) {
  .product-grid {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }
}
